<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mvk_InstagramWall::menu" title="Instagram Wall" module="Mvk_InstagramWall" sortOrder="70" parent="Mvk_All::mvk" resource="Mvk_InstagramWall::menu"/>
        <add id="Mvk_InstagramWall::index" title="Management" module="Mvk_InstagramWall" sortOrder="70" parent="Mvk_InstagramWall::menu" action="mvk_instagramwall/index/" resource="Mvk_InstagramWall::index"/>
    </menu>
</config>