<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mvk" translate="label" sortOrder="800">
            <label>Mvk</label>
        </tab>
        <section id="mvk_instagram" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Mvk</label>
            <tab>mvk</tab>
            <resource>Mvk_All::mvk_all</resource>
        </section>
    </system>
</config>